

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#chart {
	height : 65vmin;
	min-height: 65vmin;
	max-height: 65vmin;
}

#chart img {
	max-width: none;

}

.loading {
	opacity: 0.4;
}
#discipline_name2 {
	display: none;
}

#federal_state_name {
	display: none;
}

#slider-form .slider.slider-horizontal {
	width: 100%;
}

#slider-form .slider-handle.round {
	margin-left: -4px;
  	width: 10px;
}

#slider {
	display: visible;
}

#sliderreset {

}


#scale-label {
	transform:rotate(10deg) translate(50px,50px);
}

.gt-timeline {
	margin-left: -15px;
	height: 50px;
}


#barscale {
	position: relative;
	top: 0;
	left: 0;
	background-color: red;
	width: 100%;
	height: 50px;
	z-index: -1000;
}

.multiselect {
	width: 100%;
}

#student-hidden {
	display: none;
}

#absolvent-hidden {
	display: none;
}

#sidebar {
	padding-top: 0;
}

#playButton {
	
}












