<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @federal_state.name %>
</p>

<%= link_to 'Edit', edit_federal_state_path(@federal_state) %> |
<%= link_to 'Back', federal_states_path %>
